/* Global */
:root {
  /* Color */
  --bg-dark-brown: #795548;
  --bg-dark-beige: #c8b7b5;
  --bg-medium-beige: #f9e9e7;
  --bg-light-yellowish: #f9e9e7;
  --ft-dark-brown: #40241a;
  --ft-medium-chocolate: #4e342e;
  --ft-milk-chocolate: #a98274;
  --ft-medium-dark-black: #212121;
  --ft-romantic-brown: #bcaaa4;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --large: 48px;
  --medium: 28px;
  --regular: 18px;
  --small: 16px;
  --micro: 14px;
}
/* Universal Tag */
* {
  --box-sizing: border-box;
}

body {
  /* It doesnt have to be 0px */
  margin: 0;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--ft-milk-chocolate);
}

/* Typography */

.skillset {
  font-size: var(--font-medium);
  font-weight: var(--font-regular);
  color: var(--ft-milk-chocolate);
  border: solid 1px var(--bg-light-yellowish);
}

p {
  font-size: var(--font-small);
  font-weight: var(--font-regular);
  color: var(--ft-dark-brown);
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  justify-content: center;
  color: var(--ft-medium-dark-black);
}

ul {
  padding-left: 0;
}
/* Navbar */

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-dark-brown);
  align-items: center;
  padding: 8px;
}

.navbar__logo {
  display: flex;
  font-family: "Noto Serif", serif;
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__logo__ima {
  width: var(--regular);
  height: var(--regular);
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  margin-right: 8px;
}

.navbar__menu__item {
  padding: 4px 8px;
  margin: 4px 8px;
  cursor: pointer;
}

.navbar__menu__item:hover {
  color: var(--ft-romantic-brown);
}

.strength__icon {
  /* it should be visible horizontally */
  display: flex;
  width: 80px;
  height: 150px;
}

.project__link__img {
  width: 100px;
  height: 150px;
}

.testimonial__avatar {
  width: 100px;
  height: 100px;
}

.contact__img {
  width: 80px;
  height: 80px;
}
